.btn-more {text-align:center;display:inline-block;line-height:26px;border-radius:3px; -webkit-border-radius:3px;border:0; cursor:pointer;padding:0 10px;margin:10px 15px;}
.active {background:#f99b1c;}
